*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
  color: #222;
  background-color: #ccc;
  padding-block: 3rem;
}

#root {
  max-width: 63rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

h1 {
  font-size: 3.6rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-end: 3rem;
  box-shadow: 0px 3px 7px 0px #0000001a;
}

.nav {
  padding: 2rem 3rem;

  box-shadow: 0px 3px 7px 0px #0000001a;

  & img {
    width: 8.2rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem;
  & img {
    margin: 0 auto;
  }
  & p {
    max-width: 33ch;
  }
}

.cards {
  overflow-x: auto;
  padding-block-end: 3rem;
  margin: 0 3rem;

  & ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 1.2rem;
  }

  & .image {
    position: relative;

    & img {
      border-radius: 1rem;
      width: 17.6rem;
      min-width: 17.6rem;
    }
  }

  & .extra-info {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    font-size: 1.1rem;
    background-color: white;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
  }

  & .star {
    width: 1.2rem;
    height: 1.1rem;
    fill: #ccc;

    &.star-active {
      fill: #fe395c;
    }
  }

  & .price {
    font-weight: 600;
  }

  & .status,
  & .pricing,
  & .unit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .text {
    font-weight: 400;
    font-size: 1.2rem;
  }
}

.page-footer {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  & a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: " ⟶";
    }
  }
}
